main .create-box-secret {
	display: grid;
	height: 300px;
	width 700px;
	background-color: #8C8C8C;
	border: solid 2px;
	border-color: #000000;
	border-radius: 50px;
}

main .type-name {
	display: grid;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 70px;
	text-align: center;
}

main .type-date {
	display: grid;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 70px;
	text-align: center;
}

main .type-date-reveal {
	display: grid;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 70px;
	text-align: center;
}

main .input-buttons {
	display: inline-flex;
	text-align: center;
	align-items: center;
}

main .input-buttons .back-button {
	margin: auto;
	margin-right: 20px;
	margin-bottom: 20px;
}

main .input-buttons .create-button {
	margin: auto;
	margin-left: 20px;
	margin-bottom: 20px;
}
