main .subtitle {
	margin: 50px auto 25px auto;
        text-align: center; /* Centers the text horizontally */
}
    
main .button {    
        width: 500px;    
        height: 45px; /* Adjusted to 'auto' to accommodate inner content */
        background-color: #FFFFFF;    
        border: solid 2px #000000; /* Combined border style and color */   
        border-radius: 150px;    
        text-decoration: none;
	font-style: normal;
	padding: 20px;    
        margin: 0 auto 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}    
